# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db
